<h1><%= title %></h1>
<p>
  Welcome to <em>Valorant Inventory</em>, a very basic Express website developed
  for Inventory Management as a part of The Odin Project.
</p>

<h2>Dynamic content</h2>
<p>The inventory has the following record counts:</p>
<ul>
  <li><strong>Categories:</strong> <%= category_count %></li>
  <li><strong>Weapons:</strong> <%= weapons_count %></li>
</ul>
