<ul class="sidebar-nav">
  <li><a href="/menu">Home</a></li>
  <li><a href="/menu/categories">All Categories</a></li>
  <li><a href="/menu/weapons">All weapons</a></li>
  <li><hr /></li>
  <li><a href="/menu/category/create">Create new category</a></li>
  <li><a href="/menu/weapon/create">Create new weapon</a></li>
</ul>
